.mainContainer{
    display: flex;
    width: 100%;
    min-height: 100vh;
    gap: 2rem;
    height: auto;
    padding-top: 2rem;
  
}
.profileImg{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.profileImgWrapper{
    height: 110px;
    width: 110px;
}
.profileDetailContainer{
    display: flex;
    gap: 3rem;
    align-items: center;
}
.nameWrapper{
    display: flex;
}

.profileBox{
   width:70%;
   justify-content: center;
   /* background-color: rebeccapurple; */
}
.messageBtn{
    outline: none;
    border: none;
    width: 90px;
    border-radius: 7px;
}
.nameWrapper{
    display: flex;
    gap: 2rem;
}
.followWrapper{
    display: flex;
    gap: 2rem;
}

.storyHighlightsWrapper{
    display: flex;
    gap: 2rem;
}

.categoryWrapper{
    display: flex;
    align-items: center;
    gap: 0.50rem;
}
.categoryProfile{
    display: flex;
    width: 100%;
     justify-content: center;
     gap: 4rem;
}

.line{
    background-color: rgba(212, 212, 212, 0.532);
    height: 0.5px;
}

.followBtn{
    background-color: rgb(0,149,246);
    color: white;
    height: 24px;
    outline: none;
    border: none;
    border-radius: 7px;
    width: 70px;
}
.addIconWrapper{
    background-color: rgba(128, 128, 128, 0.152);
    width: 35px;
    height: 25px;
    border-radius:7px ;
    justify-content: center;
    display: flex;
    align-items: center;
}