.homeContainer{
    background-color: white;
 min-height: 100vh;
 height: auto;
 width: 100%;
 display: flex;
 justify-content: space-between;
}
.centerBox{
    height: 100vh;
    overflow: scroll;
}
.storyImgContainer{
    display: flex;
    gap: 1.25rem;
    width: 80%;
overflow-x: scroll;
/* overflow-x: hidden; */


    
    box-sizing: border-box;
    padding-top: 2rem;
}
.storyImgContainer::-webkit-scrollbar{
    display: none;
}

.bodyContainer{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    /* justify-content: space-around; */
    justify-content: center;
    
}
.centerBox::-webkit-scrollbar{
width: 5px;
}
