.commentImg{
    width: 100%;height: 100%;
    border-radius: 50%;
}

.imgWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
}
.name{
color: black;
    font-size: 12px;
}

.commentArea{
    display: flex;
    background-color: aliceblue;
    flex-direction: column;
    width: 100%;
    
}
.commentBox{
    background-color: aliceblue;
    height: 60px;
    display: flex;
    width: 100%;
    display: flex   ;
}
.commentTxt{
color: black;
font-size: 12px;
font-weight: 600;

}

.commentWrapper{
    display: flex;
    color: black;
    align-items: center;
justify-content: space-between;

}


