.profileWrapper{
    display: flex;
    align-items: center;

}

.profileWrapper:hover{
    background-color: rgba(85, 85, 85, 0.333);
    cursor: pointer;
}
.detail{
    display: flex;
    flex-direction: column;
}
.img{
    width: 45px;
    height: 45px;
}