.sidebarContainer{
    height: 100vh;
    box-sizing: border-box;
display: flex;
flex-direction: column;
justify-content: space-around;
width: 25%;
background-color: rgb(255, 255, 255);
padding: 1rem;
/* background-color: red; */
border-right: 1px solid rgba(128, 128, 128, 0.183);
}
.Link{
    text-decoration: none;
    color: black;
}

.iconWrapper{
    display: flex;
    gap: 0.75rem;
    align-items: center;
    cursor: pointer;
}
.humanImg{
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.sidebarContent{
    display: flex;
    flex-direction: column;
    gap:2rem;
    /* justify-content: space-evenly; */
}

.sidebarP{
    font-size: 15px;
    letter-spacing: 0.5px;
}
.sidebarIcon{
font-size: 24px;
}